.shinyText {
  display: inline-block;
  background: linear-gradient(
    110deg,
    currentColor 45%,
    rgba(136, 136, 136, 0.8) 50%,
    currentColor 55%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 7s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}
