.section {
  display: flex;
  justify-content: space-between;
  color: var(--color-text-secondary);
}

.reverse {
  flex-direction: row-reverse;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  margin-left: 116px;
  margin-bottom: 35px;
}

.reverse .leftBlock {
  margin-left: 35px;
  margin-right: 116px;
}

.title {
  font-family: var(----font-family-regular);
  font-size: 25px;
  color: var(--color-text-secondary);
  margin-bottom: 35px;
  white-space: pre-line;
}

.contentWrapper {
  position: relative;
  display: flex;
  gap: 27px;
  margin-bottom: 35px;
}

.text {
  font-family: var(----font-family-light);
  font-size: 16px;
  color: var(--color-text-secondary);
  line-height: 1.4;
  flex-shrink: 0;
}

.horizontalWrapper {
  width: 721px;
  height: 397px;
  position: relative;
  box-shadow: 0 0 24px 0 #1A1A1A;
  overflow: hidden;
}

.horizontalImage {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.horizontalImage:hover {
  transform: scale(1.05);
}

.verticalWrapper {
  width: 453px;
  height: 736px;
  margin-right: 155px;
  margin-left: 35px;
  position: relative;
  box-shadow: 0 0 24px 0 #1A1A1A;
  overflow: hidden;
}

.reverse .verticalWrapper {
  margin-right: 35px;
  margin-left: 155px;
}

.verticalImage {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.verticalImage:hover {
  transform: scale(1.05);
}

.statistics {
    display: flex;
    flex-direction: column;
    gap: 27px;
    flex-shrink: 0;
    margin-left: 38px;
}

.statItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.statNumber {
  color: #FFF;
  font-family: var(----font-family-regular);
  font-size: 30px;
  line-height: 1.2;
}

.statDescription {
  color: #FFF;
  font-family: var(----font-family-light);
  font-size: 16px;
  line-height: 1.4;
  white-space: pre-line;
}